# STM32CubeIDE / Eclipse
/.settings/
/Debug/
/Release/
/build/
/*.launch
*.log
*.tmp
.metadata/

# Generated build outputs (sometimes in project root)
*.o
*.d
*.su
*.elf
*.map
*.list
*.cyclo

# OS junk
.DS_Store
Thumbs.db
